auto eth0
iface eth0 inet dhcp

{% for interface, address in interfaces.iteritems() %}
auto {{interface}}
iface {{interface}}
  {% if address is not "" %}
  address {{address}}
  {% endif %}

{% endfor %}
