username cumulus nopassword
!
log file /var/log/syslog
!
{% for interface in interfaces %}
interface {{interface}}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
router bgp {{bgp["asn"]}}
 bgp router-id {{interfaces["lo"]|replace("/32", "")}}
 {% for peer in bgp["peers"] %}
    neighbor {{peer}} interface remote-as external
 {% endfor %}
 address-family ipv4
   network {{interfaces["lo"]}}
!
line vty
!
